<!DOCTYPE html>
<html>
<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" href="/css/index.css"/>
</head>
<body>
<div class="main_title">
    EJS 기반 프론트엔드 메인 페이지
</div>


<button onclick="goMemberPage()">
    멤버 페이지 가기
</button>

</body>

<script>
    function goMemberPage () {
        location.href = '/member';
    }

</script>

</html>