<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>API practice</title>
    <link rel="stylesheet" href="../css/book/book.css">
    <link rel="stylesheet" href="../css/web/web.css">
    <link rel="stylesheet" href="../css/search/search.css">
    <link rel="stylesheet" href="../css/blog/blog.css">
    <link rel="stylesheet" href="../css/restart/restart.css">

</head>

<body>

<p><input id="searchBox" value="" type="text" /></p>
<button id="searchBook">책검색</button>
<button id="searchWeb">웹문서 검색</button>
<button id="searchBlog">블로그 검색</button>
<button id="button1" onClick="refreshPage()">다시검색</button>
<h1></h1>


<script>
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"
</script>
<script>
    // 책 검색
    $(document).ready(function () {
        $("#searchBook").click(function () {
            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v3/search/book?target=title",
                data: { query: $("#searchBox").val() },
                headers: {Authorization: "KakaoAK fce2b69ccec73b018400c01ace7cbfca",
                },
            }).done(function (msg) {
                const documentList = msg.documents;

                console.log(documentList[0])

                for(const document of documentList){
                    $("h1").append("<img src='" + document.thumbnail + "'/>");
                    $("h1").append("<p><strong>" + document.title + "</strong></p>");
                    $("h1").append("<p><strong>" + document.price + "원</strong></p>");
                    $("h1").append("<p><p><p><strong>" + document.url + "</strong></p></p></p>");


                }
            });
        });
    });
    // 웹 문서 검색
    $(document).ready(function () {
            $("#searchWeb").click(function () {
                $.ajax({
                    method: "GET",
                    url: "https://dapi.kakao.com/v2/search/web",
                    data: { query: $("#searchBox").val() },
                    headers: {Authorization: "KakaoAK fce2b69ccec73b018400c01ace7cbfca",
                    },
                }).done(function (msg) {
                    const documentList = msg.documents;

                    console.log(documentList[0])

                    for (const document of documentList) {
                        $("h1").append("<p><strong>" + document.title + "</strong></p>");
                        $("h1").append("<strong src='" + document.contents + "'/strong>");
                        $("h1").append("<strong>" + document.url + "</strong>");

                    }
                });
            });
        });
    // 블로그 검색
    $(document).ready(function () {
        $("#searchBlog").click(function () {
            $.ajax({
                method: "GET",
                url: "https://dapi.kakao.com/v2/search/blog",
                data: { query: $("#searchBox").val() },
                headers: {Authorization: "KakaoAK fce2b69ccec73b018400c01ace7cbfca",
                },
            }).done(function (msg) {
                const documentList = msg.documents;

                console.log(documentList[0])

                for (const document of documentList) {
                    $("h1").append("<p><strong>" + document.title + "</strong></p>");
                    $("h1").append("<strong>" + document.blogname + "</strong>");
                    $("h1").append("<strong>" + document.url + "</strong>");
                    $("h1").append("<img src'" + document.thumbnail + "'/>");


                }
            });
        });
    });
    function refreshPage(){
        window.location.reload();
    }

</script>
</body>
</html>
