<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chart.js</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <style type="text/css">/* Chart.js */
    @keyframes chartjs-render-animation{from{opacity:.99}to{opacity:1}}.chartjs-render-monitor{animation:chartjs-render-animation 1ms}.chartjs-size-monitor,.chartjs-size-monitor-expand,.chartjs-size-monitor-shrink{position:absolute;direction:ltr;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1}.chartjs-size-monitor-expand>div{position:absolute;width:1000000px;height:1000000px;left:0;top:0}.chartjs-size-monitor-shrink>div{position:absolute;width:200%;height:200%;left:0;top:0}</style></head>
    <link rel="stylesheet" href="chart1.css">
<body>
<div class="chart-container" style="position: relative; height:300px; width:60vw"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
    <canvas id="myChart" width="90" height="200" style="display: block; width: 90px; height: 200px;" class="chartjs-render-monitor"></canvas>
</div>

    <button type="button" id="reData"><span>데이터 변경</span></button>
    <button type="button" id="addData"><span>데이터 추가</span></button>
    <button type="button" id="delData"><span>데이터 삭제</span></button>
    <button type="button" id="addDataSet"><span>데이터셋 추가</span></button>
    <button type="button" id="delDataset"><span>데이터셋 삭제</span></button>
    <button id="button" onClick="refreshPage()">데이터 리셋</button>


<form>
    <br><br>
    첫번째 그래프 : <input type="text" id="11" value="">
    <input type="text" id="12" value="">
    <input type="text" id="13" value="">
    <input type="text" id="14" value="">
    <input type="text" id="15" value="">
    <input type="text" id="16" value="">
    <input type="text" id="17" value="">
    <br><br>
    두번째 그래프 : <input type="text" id="21" value="">
    <input type="text" id="22" value="">
    <input type="text" id="23" value="">
    <input type="text" id="24" value="">
    <input type="text" id="25" value="">
    <input type="text" id="26" value="">
    <input type="text" id="27" value="">
    <br><br>
    세번째 그래프 : <input type="text" id="31" value="">
    <input type="text" id="32" value="">
    <input type="text" id="33" value="">
    <input type="text" id="34" value="">
    <input type="text" id="35" value="">
    <input type="text" id="36" value="">
    <input type="text" id="37" value="">

    <button type="button" id="reData2">데이터 적용</button>
</form>

<script>
    var ctx = document.getElementById('myChart');

    var config = {
        type: 'line',
        data: {
            labels: [ // Date Objects
                'data1',
                'data2',
                'data3',
                'data4',
                'data5',
                'data6',
                'data7'
            ],
            datasets: [{
                label: 'My First dataset',
                backgroundColor: 'rgba(75, 192, 192, 1)',
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false,
                data: [
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50)
                ],
            }, {
                label: 'My Second dataset',
                backgroundColor: 'rgba(255, 99, 132, 1)',
                borderColor: 'rgba(255, 99, 132, 1)',
                fill: false,
                data: [
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50),
                    Math.floor(Math.random() * 50)
                ],
            }]
        },
        options: {
            maintainAspectRatio: false,
            title: {
                text: 'Chart.js Time Scale'
            },
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '차트'
                    }
                }]
            },
        }
    };

    //차트 그리기
    var myChart = new Chart(ctx, config);

    //데이터 변경
    document.getElementById('reData').onclick = function(){

        //데이터셋 수 만큼 반복
        var dataset = config.data.datasets;
        for(var i=0; i<dataset.length; i++){
            console.log(dataset);
            //데이터 갯수 만큼 반복
            var data = dataset[i].data;
            for(var j=0 ; j < data.length ; j++){
                data[j] = Math.floor(Math.random() * 50);
            }
        }

        myChart.update();	//차트 업데이트
    }

    //데이터 추가
    document.getElementById('addData').onclick = function(){

        //라벨추가
        config.data.labels.push('data'+config.data.labels.length)

        //데이터셋 수 만큼 반복
        var dataset = config.data.datasets;
        for(var i=0; i<dataset.length; i++){
            //데이터셋의 데이터 추가
            dataset[i].data.push(Math.floor(Math.random() * 50));
        }
        myChart.update();	//차트 업데이트
    }

    //데이터셋 추가
    document.getElementById('addDataSet').onclick = function(){
        var color1 = Math.floor(Math.random() * 256);
        var color2 = Math.floor(Math.random() * 256);
        var color3 = Math.floor(Math.random() * 256);

        console.log(color1 + " " + color2 + " " + color3)

        var newDataset = {
            label: 'new Dataset'+config.data.datasets.length,
            borderColor : 'rgba('+color1+', '+color2+', '+color3+', 1)',
            backgroundColor : 'rgba('+color1+', '+color2+', '+color3+', 1)',
            data: [],
            fill: false
        }

        // newDataset에 데이터 삽입
        for (var i=0; i< config.data.labels.length; i++){
            var num = Math.floor(Math.random() * 50);
            newDataset.data.push(num);
        }

        // chart에 newDataset 푸쉬
        config.data.datasets.push(newDataset);

        myChart.update();	//차트 업데이트
    }

    //데이터 삭제
    document.getElementById('delData').onclick = function(){

        config.data.labels.splice(-1,1);//라벨 삭제

        //데이터 삭제
        config.data.datasets.forEach(function(dataset) {
            dataset.data.pop();
        });

        myChart.update();	//차트 업데이트
    }

    //데이터셋 삭제
    document.getElementById('delDataset').onclick = function(){
        config.data.datasets.splice(-1,1);
        myChart.update();	//차트 업데이트
    }


    //데이터 적용
    document.getElementById('reData2').onclick = function(){

        //데이터셋 수 만큼 반복
        var dataset = config.data.datasets;
        for(var i=0; i<dataset.length; i++){
            console.log(dataset);
            //데이터 갯수 만큼 반복
            var data = dataset[i].data;
            for(var j=0 ; j < data.length ; j++){
                var id = String(i + 1) + String(j + 1)
                data[j]	= document.getElementById(id).value;
            }
        }

        myChart.update();	//차트 업데이트
    }
    //차트 리셋
    function refreshPage(){
        window.location.reload();
    }

</script>

</body>

</script>
</body>
</html>