<!DOCTYPE html>

<html>
<head>
    <title>차트 튜토리얼</title>
    <link rel="stylesheet" href="/css/member/info.css"/>

</head>
<body>
<script>

    function App()
    {
        return <div className="App"></div>
    }

    export default App;
</script>

</body>


</html>