<!DOCTYPE html>
<html>
<head>
    <title>멤버 정보</title>
    <link rel="stylesheet" href="/css/member/info.css"/>
</head>
<body>
<div>이름</div>
<div>나이</div>
<div>직업</div>

</body>

<script>

</script>

</html>