<!DOCTYPE html>
<html>
<head>
    <title>멤버</title>
    <link rel="stylesheet" href="/css/member/member.css"/>
</head>
<body>

<div class="member_text">
    멤버 <span class="page_text">페이지</span>
</div>

</body>

<script>

</script>

</html>